﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/">
    <title>PhoneBook</title>
</head>

<body ng-app="phoneBook" ng-controller="peopleController">
    <script src="/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="lib/angular/ui-bootstrap.js" type="text/javascript"></script>
    <script src="lib/angular/ui-bootstrap-tpls.js"></script>
    <script src="/app.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3 class="text-center">Phone Book</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <a data-toggle="modal" href="#addingModal" ng-click="clear()"><span class="glyphicon glyphicon-plus"></span></a>
                        <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortBy = 'name'; reverseBy = !reverseBy">Name</a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortBy = 'phone'; reverseBy = !reverseBy">Phone Number</a>
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="person in personsList | orderBy:sortBy:reverseBy">
                            <td><span>{{person.name}}</span></td>
                            <td><span>{{person.phone}}</span></td>
                            <td>
                                <a data-toggle="modal" href="#editingModal" ng-click="getPerson(person)"><span class="glyphicon glyphicon-edit"></span></a>
                                |
                                <a href="#" ng-click="deletePerson(person)"><span class="glyphicon glyphicon-trash"></span>&nbsp;</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>

            <div class="modal" id="addingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Adding contact</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <span>Name: </span>
                                <input type="text" id="addName" class="form-control" ng-model="personModel.name" required />
                            </div>
                            <div class="form-group">
                                <span>Phone: </span>
                                <input type="text" id="addPhone" class="form-control" ng-model="personModel.phone" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" ng-click="addPerson()" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" ng-click="clear()" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="editingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Editing contact</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <span>Name: </span>
                                <input type="text" class="form-control" ng-model="personModel.name" value="{{personModel.name}}" required>
                            </div>
                            <div class="form-group">
                                <span>Phone: </span>
                                <input type="text" class="form-control" ng-model="personModel.phone" value="{{personModel.phone}}" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" ng-click="editPerson()" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" ng-click="clear()" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>