<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="lib/angular/ui-bootstrap.js" type="text/javascript"></script>
    <script src="lib/angular/ui-bootstrap-tpls.js"></script>
    <script src="/app.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>

    <base href="/login">
    <title>Log In</title>
</head>

<body ng-app="phoneBook" ng-controller="loginController">
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h3 class="text-center">Login Page</h3>
            </div>
        </div>

    <form ng-submit="formSubmit()" class="form">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Login</button>
                <span class="text-danger" style="color:red">{{ error }}</span>
            </div>

        </div>
    </form>
    </div>
</div>
</body>
</html>